---
layout: landing
header: "Real Home Page"
filterHint: "Type to find your filter ..."
subheader: "Page"
searchable: "true"
subnavigation: "false"
---

<section id="intro" class="hero-section">
    <div class="container horizontal-padding-medium">
        <div class="row">
            <div class="intro-body">
                <h1 class="text-white text-center text-shadow-dark">{{ site.title }}</h1>
                <h3 class="text-white text-center text-shadow-dark">{{ site.description }}</h3>
                <div>{% include block/searchbox.html %}</div>
            </div>
        <div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#intro -->

<section>
    <div class="container horizontal-padding-medium">
        <div class="row">
            <div class="list">

            {% for sheet in site.data.sheets %}
            <div class="col-sm-6">
                <div class="sheet-icon">
                    <a href="{{ sheet.url }}" class="link-div">
                        <img src="/assets/img/logo/{{ sheet.logo }}" class="img-responsive" />
                    </a>
                </div>
                <div class="sheet-detail">
                    <h4 class="sheet-title">{{ sheet.title }}<span class="hidden"> ({{ sheet.meta }})</span></h4><!-- /.sheet -->
                    <p class='sheet-description'>{{ sheet.description }}</p>
                </div>
            </div>
            <!-- /.card -->
            {% endfor %}

            </div><!-- /.list -->
        <div><!-- /.row -->
    </div><!-- /.container -->
</section>

<script type="text/javascript">
    $(document).ready(function(){
        var options = {
            valueNames: [ 'sheet-title', 'sheet-description' ]
        };

        var filterable = new List('filterable', options);
    });
</script>
