/*
sass assets/scss/custom.scss:assets/css/custom.min.css --style compressed
sass assets/scss/custom.scss:assets/css/custom.css --style compact
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*script*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*serif*/
@import url(http://fonts.googleapis.com/css?family=Arvo);

/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/** variables -- fonts **/
$monoSpaceFont: Inconsolata, Courier, monospace;
$serifFont: 'Arvo', Times, serif;
$sansSerifFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;

/** variables -- sizes **/

/** variables -- colors **/
$coreHyperlink: #23a09b;
$offWhite: #fdfdfd;
$lightTone: #2cda9d;
$brightTone: #feef9a;
$darkTone: #1a181b;
$deepTone: #d15d50;
$grayBase: #2aa19b;
$borderColor: #eef1f2;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Responsive breakpoints
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$xs: ( max:  767px ); /* small screens - phones */
$sm: ( min:  768px ); /* small screens - tablets */
$md: ( min:  992px ); /* medium screens - desktops,laptops */
$lg: ( min: 1200px ); /* large screens - desktops,laptops */

/* Breakpoint helpers */
$xs_max: ( max: map-get($sm, min) - 1 ); /* smaller than small */
$sm_only: ( min: map-get($sm, min), max: map-get($md, min) - 1);
$md_only: ( min: map-get($md, min), max: map-get($lg, min) - 1);
$sm_max: ( max: map-get($md, min) - 1 ); /* smaller than medium */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* mixins
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin breakpoint($map) {
    $query: "";
    @if map-has-key($map, min) {
        $query: append($query, "(min-width: #{map-get($map, min)})")
    }
    @if map-has-key($map, min) and map-has-key($map, max) {
        $query: append($query, "and")
    }
    @if map-has-key($map, max) {
        $query: append($query, "(max-width: #{map-get($map, max)})")
    }
    @media screen and #{$query} { @content; }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
}

body.fixed-top-navigation {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: $serifFont;
}

p {
}

a { color: $coreHyperlink; }
a:hover { color: $coreHyperlink; }
a:visited { color: $coreHyperlink; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.container-full {
    margin: 0 auto;
    width: 100%;
}

.container-narrow {
    width: 760px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

@include breakpoint($sm_max) {
    .row {
        padding-right: .5em;
        padding-left: .5em;
    }
}

.navbar {
  font-family: $sansSerifFont;
  margin-bottom: 0px;
}

.navbar-default {
    /*height: 80px;*/
    border-color: transparent;
    background: transparent;
    /*padding-top: 18px;*/
    border-bottom: 3px solid transparent;
    transition: background 0.75s ease;
    -webkit-transition: background 0.75s ease;
    -moz-transition: background 0.75s ease;
}

.navbar-background {
    background-color: #fff;
    transition: background 0.75s ease;
    -webkit-transition: background 0.75s ease;
    -moz-transition: background 0.75s ease;
}

.navbar-subnavbar {
  height: 100px;
  padding-top: 48px;
  border-color: transparent;
  border-radius: 0px;
}

.form-control {
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  font-family: $serifFont;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 0 0 rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#filter-box{
  display: inline;
  width: 80%;
  float: right;
}

.btn {
  border-radius: 0px;
}

a.brand {
  display: inline-block;
  padding-top: 5px;
  margin-top: 5px;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  color: $darkTone;
}

a.brand:hover {
  color: $coreHyperlink;
  text-decoration: none;
}

.form-control::-webkit-input-placeholder {
  /*color: darken( $subtleGray, 10% );*/
  font-weight: 100;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  /*color: darken( $subtleGray, 10% );*/
  font-weight: 100;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  /*color: darken( $subtleGray, 10% );*/
  font-weight: 100;
}

.form-control:-ms-input-placeholder {
  /*color: darken( $subtleGray, 10% );*/
  font-weight: 100;
}

.form-top-pad {
  margin-top: 6px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* palettes
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.palette {}

.palette h2 {
  font-size: 2.5em;
  font-weight: 700;
}

.palette h3 {
  font-size: 2em;
  font-weight: 400;
  color: $darkTone;
}

.horizontal-padding-small {
  padding: .8em 0 .8em 0;
}

.horizontal-padding-medium {
  padding: 2.2em 0 2.2em 0;
}

.horizontal-padding-large {
  padding-top: 5em;
  padding-bottom: 5em;
}

.horizontal-padding-extra-large {
  padding: 12em 0 12em 0;
}

.horizontal-padding-banner-sized {
  padding-top: 15em;
  padding-bottom: 18em;
}

.horizontal-padding-top {
  padding-top: 6em;
}

.horizontal-padding-top-large {
  padding-top: 12em;
}

.background-transparent {
  background-color: transparent;
  border-color: transparent;
}

.background-bright {
  background-color: lighten( $brightTone, 9% );
  color: $darkTone;
}

.background-light {
  background-color: lighten( $lightTone, 32% );
  color: $darkTone;
}

.background-dark-tone {
  background-color: $darkTone;
  background: linear-gradient( lighten( $darkTone, 22% ), $darkTone );
  color: $offWhite;
}

.background-light-tone {
  background-color: $lightTone;
  background: linear-gradient( $lightTone, lighten( $lightTone, 22% ) );
  color: $darkTone;
}

.background-gray {
  background-color: $grayBase;
  background: linear-gradient( $grayBase, darken( $grayBase, 22% ) );
  color: $darkTone;
}

.angled-top-down-left {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
}

.angled-top-down-right {
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
}

.angled-bottom-down-left {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.angled-bottom-down-right {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.text-shadow-dark {
    text-shadow: 1px 1px 1px $darkTone;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: $darkTone;
}

.text-gray {
  color: $grayBase;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1.cover {
    font-weight: 400;
    font-size: 4em;
    color: #fff;
}

@include breakpoint($sm_max) {
    h1.cover {
        font-family: $sansSerifFont;
        font-weight: 400;
        font-size: 2em;
    }
}

h2.cover {
    font-family: $sansSerifFont;
    padding-top: 2em;
    font-weight: 100;
    color: $darkTone;
}

.searchbar-inner-addon {
    position: relative;
    width: 80%;
    float: right;
}
.searchbar-inner-addon input {
    padding-right: 30px;
}
.searchbar-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 14px 12px;
    pointer-events: none;
}

.hero-section {
    padding-top: 3em;
    background-image: url("/assets/img/hero.png");
    background-color: darken( $deepTone, 18% );
    background-attachment: fixed;
}

.intro-body h1 {
  font-size: 3em;
}

.intro-body h3 {
  font-weight: 100;
  font-family: $sansSerifFont;
  font-size: 2em;
}