
<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-transition">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <a href="/" title="{{ site.title }} | {{ site.tagline }}" class="hidden-xs brand">{{ site.title }}</a>
                <a href="/" title="{{ site.title }} | {{ site.tagline }}" class="hidden-sm hidden-md hidden-lg brand">{{ site.shortTitle }}</a>

                {% if page.searchable == 'true' %}
                    <div class="navbar-right eighty-percent-wide">
                        {% include block/searchbox.html %}
                    </div>
                {% endif %}
            </div><!-- /.col -->

        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- end main navigation -->
