/*
sass assets/scss/custom.scss:assets/css/custom.min.css --style compressed
sass assets/scss/custom.scss:assets/css/custom.css --style compact
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*script*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/*serif*/
@import url(http://fonts.googleapis.com/css?family=Arvo);
/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/** variables -- fonts **/
/** variables -- sizes **/
/** variables -- colors **/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Responsive breakpoints
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* small screens - phones */
/* small screens - tablets */
/* medium screens - desktops,laptops */
/* large screens - desktops,laptops */
/* Breakpoint helpers */
/* smaller than small */
/* smaller than medium */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* mixins
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body.fixed-top-navigation { padding-top: 60px; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: "Arvo", Times, serif; }

a { color: #23a09b; }

a:hover { color: #23a09b; }

a:visited { color: #23a09b; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container-full { margin: 0 auto; width: 100%; }

.container-narrow { width: 760px; margin-right: auto; margin-left: auto; }

.row { margin-right: 0px; margin-left: 0px; }

@media screen and (max-width: 991px) { .row { padding-right: .5em; padding-left: .5em; } }
.navbar { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; margin-bottom: 0px; }

.navbar-default { /*height: 80px;*/ border-color: transparent; background: transparent; /*padding-top: 18px;*/ border-bottom: 3px solid transparent; transition: background 0.75s ease; -webkit-transition: background 0.75s ease; -moz-transition: background 0.75s ease; }

.navbar-subnavbar { height: 100px; padding-top: 48px; border-color: transparent; border-radius: 0px; }

.form-control { height: 36px; padding: 6px 12px; font-size: 14px; font-family: "Arvo", Times, serif; border-radius: 0px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

#filter-box { display: inline; width: 80%; float: right; }

.btn { border-radius: 0px; }

a.brand { display: inline-block; padding-top: 5px; margin-top: 5px; font-weight: 400; color: #fff; font-size: 18px; color: #1a181b; }

a.brand:hover { color: #23a09b; text-decoration: none; }

.form-control::-webkit-input-placeholder { /*color: darken( $subtleGray, 10% );*/ font-weight: 100; }

.form-control:-moz-placeholder { /* Firefox 18- */ /*color: darken( $subtleGray, 10% );*/ font-weight: 100; }

.form-control::-moz-placeholder { /* Firefox 19+ */ /*color: darken( $subtleGray, 10% );*/ font-weight: 100; }

.form-control:-ms-input-placeholder { /*color: darken( $subtleGray, 10% );*/ font-weight: 100; }

.form-top-pad { margin-top: 6px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* palettes
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.palette h2 { font-size: 2.5em; font-weight: 700; }

.palette h3 { font-size: 2em; font-weight: 400; color: #1a181b; }

.horizontal-padding-small { padding: .8em 0 .8em 0; }

.horizontal-padding-medium { padding: 2.2em 0 2.2em 0; }

.horizontal-padding-large { padding-top: 5em; padding-bottom: 5em; }

.horizontal-padding-extra-large { padding: 12em 0 12em 0; }

.horizontal-padding-banner-sized { padding-top: 15em; padding-bottom: 18em; }

.horizontal-padding-top { padding-top: 6em; }

.horizontal-padding-top-large { padding-top: 12em; }

.background-transparent { background-color: transparent; border-color: transparent; }

.background-bright { background-color: #fef6c7; color: #1a181b; }

.background-light { background-color: #b7f2dd; color: #1a181b; }

.background-dark-tone { background-color: #1a181b; background: linear-gradient(#534d56, #1a181b); color: #fdfdfd; }

.background-light-tone { background-color: #2cda9d; background: linear-gradient(#2cda9d, #8bebc9); color: #1a181b; }

.background-gray { background-color: #2aa19b; background: linear-gradient(#2aa19b, #134845); color: #1a181b; }

.angled-top-down-left { -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%); clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%); }

.angled-top-down-right { -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%); clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%); }

.angled-bottom-down-left { -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); }

.angled-bottom-down-right { -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%); clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%); }

.text-shadow-dark { text-shadow: 1px 1px 1px #1a181b; }

.text-white { color: #fff; }

.text-dark { color: #1a181b; }

.text-gray { color: #2aa19b; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h1.cover { font-weight: 400; font-size: 4em; color: #fff; }

@media screen and (max-width: 991px) { h1.cover { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; font-weight: 400; font-size: 2em; } }
h2.cover { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; padding-top: 2em; font-weight: 100; color: #1a181b; }

.searchbar-inner-addon { position: relative; width: 80%; float: right; }

.searchbar-inner-addon input { padding-right: 30px; }

.searchbar-inner-addon i { position: absolute; right: 0px; padding: 14px 12px; pointer-events: none; }

.hero-section { padding-top: 3em; background-image: url("/assets/img/hero.png"); background-color: #9c3529; background-attachment: fixed; }

.intro-body h1 { font-size: 3em; }

.intro-body h3 { font-weight: 100; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; font-size: 2em; }

/*# sourceMappingURL=custom.css.map */
